<h1>Wallpapers#search</h1>

<% if @related_tags.present? %>
    <div class="card mbm">
      Maybe you meant: <%= tags_list(@related_tags, :inline) %>
    </div>
<% end %>

<% if not @walls.blank? %>

<%= render :partial => 'shared/wallpaper_list', :locals => { :infinite => true, :wallpapers => @walls } %>

<% else %>
    <div class="card txtcenter">
        No wallpaper found !
    </div>
<% end %>