<h1>HelpPages#search</h1>
<p>Find me in app/views/help_pages/search.html.erb</p>


tag1 tag2
Search for posts that have tag1 and tag2.

~tag1 ~tag2
Search for posts that have tag1 or tag2.

-tag1
Search for posts that don't have tag1.


md5:dc73fa6f48d6496ced1f934c56e31f25
Search for posts with the MD5 hash "dc73fa6f48d6496ced1f934c56e31f25"

rating:questionable
Search for posts that are rated questionable (possible values are safe, questionable and explicit, or s, q or e).

-rating:questionable
Search for posts that are not rated questionable.

id:100
Search for posts with the post ID of 100.

id:100..
Search for posts with a post ID of 100 or greater. [temporarily disabled]

id:>=100
Same as above. [temporarily disabled]

id:>100
Search for posts with a post ID greater than 100. [temporarily disabled]

id:..100
Search for posts with a post ID of 100 or less.
id:<=100

Same as above. [temporarily disabled]

id:<100
Search for posts with a post ID less than 100.

id:100..200
Search for posts with a post ID between 100 and 200. [temporarily disabled]

width:100
Search for posts with a width of 100 pixels (uses same syntax as id search).

height:100
Search for posts with a height of 100 pixels (using the same syntax as id searching).

file_type:png
Search for posts with the desired file type: JPG, PNG, GIF and SWF types are possible.

-file_type:png
Search for posts excluding the specified file type: JPG, PNG, GIF and SWF types are possible.

order: ????

rating:questionable rating:safe
In general, combining the same metatags (the ones that have colons in them) will not work.