<h1>HelpPages#tagging</h1>

tag1 tag2
Tags a post with tag1 and tag2.

maria-sama_ga_miteru
Replace spaces in tags with underscores.

tanaka_rie soryu_asuka_langley
Use LastName FirstName order for characters with Japanese last names, or characters with full Chinese or Korean names. Middle names always follow the first name.

john_smith akira_ferrari tony_leung
Use FirstName LastName order for characters with non-Asian names, or characters with Japanese first names but non-Asian last names, or characters with non-Asian first names but Chinese last names.

general:food
Prefix a tag with general to remove any type. The prefix will be dropped when the tag is saved.

title:wakatsuki_sana
Prefix a tag with artist: to type it as an artist. The prefix will be dropped when the tag is saved.

character:gasai_yuno
Prefix a tag with character: (or char:) to type it as a character.

rating:questionable
Rates a post as questionable. This tag is discarded after the rating is changed.