<h1>Tags#index</h1>

<p><%= link_to 'New tag', new_tag_path %></p>

<table class="table">
  <col />
  <col width="80" span="2">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2">&nbsp;</th>
    </tr>
  </thead>
<% @tags.each do |tag| %>
  <tbody>
    <tr>
      <td><%= tag.name %></td>
      <td class="txtcenter"><%= link_to 'Show', tag_path(tag) %></td>
      <td class="txtcenter"><%= link_to 'Destroy', tag_path(tag),
                       method: :delete,
                       data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
<% end %>
</table>