/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/autocomplete
 * require jquery-ui/dialog
 *= require fontawesome/css/font-awesome.min
 */

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300);

body {
    font-family: Lato, sans-serif;
    /*background-color: #424242; /*#171717;*/
    /*background-color: #FEFEFE;*/
    background-color: #434F5B;
    color: #FFF;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#main {
  position: relative;
  padding: 10px;
}

.wallthumb {
    position: relative;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    margin: 10px;
    width: 300px;
    background-color: #FFF;
}

.wallthumb > div {
    visibility: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 !important;

    color: #FFF;
    text-align: center;

    font-size: 1.1em;
}

.wallthumb:hover > div {
    visibility: visible;
}

.wallthumb .fa-star {
    color: yellow;
}

.tabs-pane {
  .pane {
    display: none;

    &.active {
      display: block;
    }
  }
}