$header-box-bg-hover: rgba(46, 125, 50, 0.6);

$header-bg: #2e7d32;
$header-green: #56a14b;

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  height: 50px;

  padding: 10px;
  z-index: 800;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end /*space-between*/;

  color: #FFF;

  * {
    transition: all 0.2s ease 0s;
  }

  form label {
    // Reset
    margin: 0;
  }

  .brand-icon, form label {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.3em;
    width: 40px;
    height: 30px;

    line-height: 1.5em;

    border-radius: 3px;
    text-align: center;

    &:hover, &.active {
      color: rgba(255, 255, 255, 1);
      background-color: $header-box-bg-hover;
    }
  }

  form {
    margin-left: 10px;

    label.active {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    input {
      padding: 0;

      box-sizing: border-box;
      border: medium none;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      color: rgba(255, 255, 255, 0.7);
      font-size: 15px;
      font-weight: 400;
      outline: medium none;

      line-height: 30px;
      height: 30px;

      width: 0;

      &:focus {
        visibility: visible;
        color: #FFF;
        background-color: rgba(0, 0, 0, 0.7);
        width: 400px;
        padding: 0 10px;
      }
    }

    button {
      display: none;
    }
  }
}

